.main-header {
  width: 100%;
  background-color: #f4e1d2;
  padding: 15px 0;
}

.header-top {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  width: 100%;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-grow: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.search-bar .search-btn {
  padding: 10px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.contact,
.store,
.user-actions {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.contact span,
.store span,
.user-actions span {
  margin-left: 5px;
}

.user-actions a {
  margin-left: 10px;
  display: flex;
  align-items: center;
  color: #333;
  text-decoration: none;
}

.user-actions .cart span {
  margin-left: 5px;
}